<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198115364873-loomn9da8h6tk45rsoglm34a491b83ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198115364873-loomn9da8h6tk45rsoglm34a491b83ns</string>
	<key>API_KEY</key>
	<string>AIzaSyCIX16dQ0rMOQcwMn-Sw9uS3Lce4GRZzVM</string>
	<key>GCM_SENDER_ID</key>
	<string>198115364873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Krider.LocalFood</string>
	<key>PROJECT_ID</key>
	<string>localfood-e5e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>localfood-e5e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198115364873:ios:665b07bf6a8dd2706c68d8</string>
</dict>
</plist>